@import "./box-size.layout.css";
@import "./box-space.layout.css";
@import "./flex.layout.css";
@import "./grid.layout.css";
@import "./position.layout.css";
/*! purgecss start ignore*/

/*********************************************************
 *              Mobius Layouts
 *
 * - with css        houdini: none,
 * - with global     control: none,
 * - use  global     params : none,
 * - set  global     params : none,
 * - use  ...        props  : none,
 * - release         props  : none,
 *
 * - usage: none,
 *
 * - classes: .mobius-{}-style
 *
 * - TODO: none,
 *
 * - 1. no comment,
 *
 * !important none
 *
 *********************************************************/

.mobius-box--border { box-sizing: border-box; }
.mobius-box--content { box-sizing: content-box; }
.mobius-size--fullview { width: 100vw; height: 100vh; }
.mobius-size--fullpct { width: 100%; height: 100%; }
.mobius-size--fullabs { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.mobius-size--fullheightabs { position: absolute; top: 0; bottom: 0 }
.mobius-size--fullwidthabs { position: absolute; left: 0; right: 0 }

/*! purgecss end ignore*/
