/*! purgecss start ignore */
@import "./base/normalize.css";

/*********************************************************
 *              Mobius Base Styles
 *
 * - with css        houdini: none,
 * - with global     control: none,
 * - use  global     params : none,
 * - set  global     params : none,
 * - use  theme      props  : --fg-color-normal, --bg-color-normal,
 * - use  transition props  : --transition-property-common, --transition-duration-normal, --transition-timing-function-normal, --transition-delay-none,
 * - use  font       props  : --font-family-normal,
 * - release         props  : none,
 *
 * - usage: none,
 *
 * - classes: .mobius-{utility}-style
 *
 * - TODO: todo example,
 *
 * - 1. other comment,
 * - 2. another comment,
 * - 3. ...,
 *
 * !important ...
 *
 *********************************************************/

%base-common {
  box-sizing: border-box;
}

:root.mobius-base,
html.mobius-base,
page.mobius-base,
page,
.mobius-base {
  @extend %base-common, %font-family-vars;
  font-family: var(--font-family-normal);
  color: var(--fg-color-normal);
  background-color: var(--bg-color-normal);
  transition-property: var(--transition-property-common);
  transition-duration: var(--transition-duration-normal);
  transition-timing-function: var(--transition-timing-function-normal);
  transition-delay: var(--transition-delay-none);
  & ::before,
  & ::after {
    @extend %base-common;
  }
}

body.mobius-base,
page.mobius-base,
page,
.mobius-base {
  & div,
  & view {
    box-sizing: border-box;
  }

  & div {
    -webkit-tap-highlight-color: transparent;
  }

  & img {
    mix-blend-mode: multiply;
  }

  & svg {
    color: currentColor;
  }

  & input,
  & textarea,
  & select {
    outline: none;
    appearance: none;
    outline-offset: -2px;
  }

  & textarea {
    resize: none;
  }

  & select {
    background-color: #ffffff;
  }
  & select[value=" "] {
    color: gray;
  }
  & option[value=" "][disabled] {
    display: none;
  }
  & option {
    color: #000000;
  }
}

/*! purgecss end ignore*/
