/*! purgecss start ignore */
%base-common {
  box-sizing: border-box;
}

html,
page {
  @extend %base-common;
  font-family: "SYSTEM", "BASE", "EMOJI";
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* %mobius-theme start */
  color: var(--text-color-normal);
  background-color: var(--bg-color-normal);
  /* %mobius-theme end */
  transition-property: var(--transition-property-common);
  transition-duration: var(--transition-duration-normal);
  transition-timing-function: var(--transition-timing-function-normal);
  transition-delay: var(--transition-delay-none);
  & ::before,
  & ::after {
    @extend %base-common;
  }
}

body,
page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

img {
  mix-blend-mode: multiply;
}

svg {
  color: var(--text-color-normal);
}
/*! purgecss end ignore*/
