/*! purgecss start ignore*/

/*********************************************************
 *              Mobius Font Utility
 *
 * - with css    houdini: none,
 * - with global control: none,
 * - use  global params : none,
 * - set  global params : none,
 * - use  ...    props  : none,
 * - release     props  : none,
 *
 * - usage: none,
 *
 * - classes: .mobius-{utility}-style
 *
 * - TODO: none,
 *
 * - 1. no comment,
 *
 * !important none
 *
 *********************************************************/
.hello {
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Tahoma, Arial,
    "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}
@font-face {
  font-family: "SYSTEM";
  src: local("system-ui"), local("-apple-system"), local("BlinkMacSystemFont"),
    local("segoe ui"), local("Roboto");
}
@font-face {
  font-family: "BASE";
  src: local("San Francisco"), local("Helvetica Neue"), local("Helvetica"),
    local("Tahoma"), local("Arial"), local("PingFang SC"),
    local("Hiragino Sans GB"), local("Heiti SC"), local("Microsoft YaHei"),
    local("WenQuanYi Micro Hei"), local("sans-serif");
}
@font-face {
  font-family: "EMOJI";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"),
    local("Segoe UI Symbol"), local("Noto Color Emoji");
}

.mobius-font-noto,
.hover_mobius-font-noto:hover,
.active_mobius-font-noto:active {
  font-family: "Noto Sans", "Noto Sans SC", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", SYSTEM;
}

.mobius-font-noto_sans,
.hover_mobius-font-noto_sans:hover,
.active_mobius-font-noto_sans:active {
}

.mobius-font-noto_serif,
.hover_mobius-font-noto_serif:hover,
.active_mobius-font-noto_serif:active {
}

/*! purgecss end ignore*/
