@import "./typography/typography.css";
@import "./effects/effects.css";
@import "./layouts/layouts.css";
@import "./animations/animations.css";
/*! purgecss start ignore */

/*********************************************************
 *              Mobius Comment Utility
 *
 * - with css        houdini: ... | none,
 * - with global     control: ... | none,
 * - use  global     params : ... | none,
 * - set  global     params : ... | none,
 * - use  ...        props  : ... | none,
 * - release         props  : ... | none,
 *
 * - usage: [param](set|use)(modulename.moduletype) | none,
 *
 * - classes: .mobius-{utility}-style
 *
 * - TODO: todo example,
 *
 * - 1. other comment,
 * - 2. another comment,
 * - 3. ...,
 *
 * !important ... | none
 *
 *********************************************************/

/*********************************************************
 *              Mobius Utility
 *********************************************************/

.mobius-display--none { display: none; }

.mobius-visible--none { visibility: hidden; }

.mobius-scroll-auto { overflow: auto; }
.mobius-scroll-hidden { overflow: hidden; }
.mobius-scroll--all { overflow: scroll; }
.mobius-scroll--x { overflow-x: scroll; overflow-y: hidden; }
.mobius-scroll--y { overflow-x: hidden; overflow-y: scroll; }

.mobius-scrollbar--hidden {
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.mobius-cursor--pointer { cursor: pointer; }

.mobius-select--auto { user-select: auto; }
.mobius-select--none { user-select: none; }
.mobius-select--all { user-select: all; }
.mobius-select--text { user-select: text; }
.mobius-select--contain { user-select: contain; }

/*! purgecss end ignore */
