/*! purgecss start ignore*/

/*********************************************************
 *              Mobius Text Style Utility
 *
 * - with css    houdini: none,
 * - with global control: none,
 * - use  global params : none,
 * - set  global params : none,
 * - use  theme  props  : none,
 * - release     props  : none,
 *
 * - usage: none,
 *
 * - classes: .mobius-text-normal(hover, active), .mobius-text-primary(hover, active),
 *            .mobius-text-dark(hover, active), .mobius-text-light(hover, active), .mobius-text-cigaret(hover, active), .mobius-text-mobius(hover, active),
 *            .mobius-text-indent(hover, active),
 *
 * - TODO: none,
 *
 * - 1. no comment,
 *
 * !important
 *
 *********************************************************/

/*********************************************************
 *                       Text Color
 *********************************************************/

.mobius-text--base,
.hover_mobius-text--base:hover,
.active_mobius-text--base:active { color: var(--fg-color-base); }
.mobius-text--primary,
.hover_mobius-text--primary:hover,
.active_mobius-text--primary:active { color: var(--fg-color-primary); }
.mobius-text--second,
.hover_mobius-text--second:hover,
.active_mobius-text--second:active { color: var(--fg-color-second); }
.mobius-text--third,
.hover_mobius-text--third:hover,
.active_mobius-text--third:active { color: var(--fg-color-third); }
.mobius-text--mean,
.hover_mobius-text--mean:hover,
.active_mobius-text--mean:active { color: var(--fg-color-mean); }

.mobius-text--red,
.hover_mobius-text--red:hover,
.active_mobius-text--red:active { color: var(--fg-color-red); }
.mobius-text--ry,
.hover_mobius-text--ry:hover,
.active_mobius-text--ry:active { color: var(--fg-color-ry); }
.mobius-text--yellow,
.hover_mobius-text--yellow:hover,
.active_mobius-text--yellow:active { color: var(--fg-color-yellow); }
.mobius-text--yg,
.hover_mobius-text--yg:hover,
.active_mobius-text--yg:active { color: var(--fg-color-yg); }
.mobius-text--green,
.hover_mobius-text--green:hover,
.active_mobius-text--green:active { color: var(--fg-color-green); }
.mobius-text--gc,
.hover_mobius-text--gc:hover,
.active_mobius-text--gc:active { color: var(--fg-color-gc); }
.mobius-text--cyan,
.hover_mobius-text--cyan:hover,
.active_mobius-text--cyan:active { color: var(--fg-color-cyan); }
.mobius-text--cb,
.hover_mobius-text--cb:hover,
.active_mobius-text--cb:active { color: var(--fg-color-cb); }
.mobius-text--blue,
.hover_mobius-text--blue:hover,
.active_mobius-text--blue:active { color: var(--fg-color-blue); }
.mobius-text--bm,
.hover_mobius-text--bm:hover,
.active_mobius-text--bm:active { color: var(--fg-color-bm); }
.mobius-text--magenta,
.hover_mobius-text--magenta:hover,
.active_mobius-text--magenta:active { color: var(--fg-color-magenta); }
.mobius-text--mr,
.hover_mobius-text--mr:hover,
.active_mobius-text--mr:active { color: var(--fg-color-mr); }

/* TODO: */

/*********************************************************
 *                       Font Style
 *********************************************************/

.mobius-text--unstyled,
.hover_mobius-text--unstyled:hover,
.active_mobius-text--unstyled:active {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-decoration-line: none;
  text-transform: none;
}

.mobius-text--italic,
.hover_mobius-text--italic:hover,
.active_mobius-text--italic:active { font-style: italic; }

/* Ref to: https://developer.mozilla.org/zh-CN/docs/Web/CSS/font-weight */
.mobius-text--lighter,
.hover_mobius-text--lighter:hover,
.active_mobius-text--lighter:active { font-weight: lighter; }
.mobius-text--bolder,
.hover_mobius-text--bolder:hover,
.active_mobius-text--bolder:active { font-weight: bolder; }
.mobius-text--thin,
.hover_mobius-text--thin:hover,
.active_mobius-text--thin:active { font-weight: 100; }
.mobius-text--extralight,
.hover_mobius-text--extralight:hover,
.active_mobius-text--extralight:active { font-weight: 200; }
.mobius-text--light,
.hover_mobius-text--light:hover,
.active_mobius-text--light:active { font-weight: 300; }
/* .mobius-text--normal { font-weight: 400; } */
.mobius-text--medium,
.hover_mobius-text--medium:hover,
.active_mobius-text--medium:active { font-weight: 500; }
.mobius-text--semibold,
.hover_mobius-text--semibold:hover,
.active_mobius-text--semibold:active { font-weight: 600; }
.mobius-text--bold,
.hover_mobius-text--bold:hover,
.active_mobius-text--bold:active { font-weight: 700; }
.mobius-text--extrabold,
.hover_mobius-text--extrabold:hover,
.active_mobius-text--extrabold:active { font-weight: 800; }
.mobius-text--boldest,
.hover_mobius-text--boldest:hover,
.active_mobius-text--boldest:active { font-weight: 900; }

/*********************************************************
 *                      Text Decoration
 *********************************************************/

.mobius-text--underline,
.hover_mobius-text--underline:hover,
.active_mobius-text--underline:active { text-decoration: underline; }
.mobius-text--linethrough,
.hover_mobius-text--linethrough:hover,
.active_mobius-text--linethrough:active { text-decoration: line-through; }
.mobius-text--overline,
.hover_mobius-text--overline:hover,
.active_mobius-text--overline:active { text-decoration: overline; }

/*********************************************************
 *                      Text Tranform
 *********************************************************/

.mobius-text--uppercase,
.hover_mobius-text--uppercase:hover,
.active_mobius-text--uppercase:active { text-transform: uppercase; }
.mobius-text--lowercase,
.hover_mobius-text--lowercase:hover,
.active_mobius-text--lowercase:active { text-transform: lowercase; }
.mobius-text--capitalize,
.hover_mobius-text--capitalize:hover,
.active_mobius-text--capitalize:active { text-transform: capitalize; }

/*! purgecss end ignore*/
