/*! purgecss start ignore */
@keyframes none {
  from {
  }
  to {
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn--lighter {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
/*! purgecss end ignore */
