/*! purgecss end ignore */

.mobius-visible--none { visibility: hidden; }
.mobius-visible--light { opacity: 0.25; }
.mobius-visible--medium { visibility: 0.5; }
.mobius-visible--heavy { visibility: 0.75; }
.mobius-visible--all { visibility: 1; }

/*! purgecss end ignore */
