html, page {
  background-color: var(--bg-color-normal);
  color: var(--text-color-normal);
  transition: var(--transition-normal);
}

img {
  mix-blend-mode: multiply;
}

svg {
  color: var(--text-color-normal)
}
