.mobius-flat {
  position: relative;
  --border-radius: 0.25rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition-normal);

  background-color: var(--bg-color-normal);
  color: var(--text-color-normal);
  --box-shadow-normal: 8px 8px 20px var(--bg-color-darker), -8px -8px 20px var(--bg-color-lighter);
  --box-shadow-inset: inset 8px 8px 20px var(--bg-color-darker), inset -8px -8px 20px var(--bg-color-lighter);
  &:hover {
    color: var(--text-color-hover);
  }

  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition-normal)
  }
  &::before {
    box-shadow: var(--box-shadow-normal);
    opacity: 1;
  }
  &::after {
    box-shadow: var(--box-shadow-inset);
    opacity: 0;
  }
  &:hover {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}
