.mobius-transition-normal {
  transition: var(--transition-normal);
}

.mobius-theme-dark {
  --bg-color-normal: var(--dark-color-normal);
  --bg-color-lighter: var(--dark-color-lighter);
  --bg-color-darker: var(--dark-color-darker);
  --text-color-normal: var(--light-color-normal);
  --text-color-hover: var(--cigaret-color-lighter);
}

.mobius-theme-light {
  --bg-color-normal: var(--light-color-normal);
  --bg-color-lighter: var(--light-color-lighter);
  --bg-color-darker: var(--light-color-darker);
  --text-color-normal: var(--dark-color-normal);
  --text-color-hover: var(--cigaret-color-darker);
}
