:root {
  --dark-color-normal: hsla(264, 0%, 17%, 100%);
  --dark-color-darker: hsla(264, 0%, 7%, 50%);
  --dark-color-lighter: hsla(264, 0%, 27%, 50%);
  --light-color-normal: hsla(264, 0%, 83%, 100%);
  --light-color-darker: hsla(264, 0%, 68%, 100%);
  --light-color-lighter: hsla(264, 0%, 98%, 100%);
  --cigaret-color-normal: hsla(264, 100%, 50%, 100%);
  --cigaret-color-lighter: hsla(264, 100%, 83%, 100%);
  --cigaret-color-darker: hsla(264, 100%, 17%, 100%);
  --transition-normal: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mobius-transition-normal {
  transition: var(--transition-normal);
}

.mobius-flat {
  position: relative;
  --width: 400px;
  --height: 200px;
  --border-radius: 0.25rem;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition-normal);
}
.mobius-flat-dark {
  background-color: var(--dark-color-normal);
  color: var(--light-color-normal);
  --box-shadow-normal: 8px 8px 20px var(--dark-color-darker), -8px -8px 20px var(--dark-color-lighter);
  --box-shadow-inset: inset 8px 8px 20px var(--dark-color-darker), inset -8px -8px 20px var(--dark-color-lighter);
}
.mobius-flat-dark:hover {
  color: var(--cigaret-color-lighter);
}
.mobius-flat-light {
  background-color: var(--light-color-normal);
  color: var(--dark-color-normal);
  --box-shadow-normal: 8px 8px 20px var(--light-color-darker), -8px -8px 20px var(--light-color-lighter);
  --box-shadow-inset: inset 8px 8px 20px var(--light-color-darker), inset -8px -8px 20px var(--light-color-lighter);
}
.mobius-flat-light:hover {
  color: var(--cigaret-color-darker);
}

.mobius-flat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-normal);
  opacity: 1;
  transition: var(--transition-normal)
}

.mobius-flat:hover::before {
  opacity: 0;
}

.mobius-flat::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inset);
  opacity: 0;
  transition: var(--transition-normal)
}

.mobius-flat:hover::after {
  opacity: 1;
}
