/*
 * 以下是全局变量
 */


/* page 用于兼容小程序端 */
:root,
html,
page {
  --seed: 624;

  --cigaret: calc(var(--seed) - 360);
  --mobius: calc(360 - var(--cigaret));

  --dark-color-normal: hsla(var(--cigaret), 0%, 17%, 100%);
  --dark-color-darker: hsla(var(--cigaret), 0%, 7%, 50%);
  --dark-color-lighter: hsla(var(--cigaret), 0%, 27%, 50%);

  --light-color-normal: hsla(var(--cigaret), 0%, 83%, 100%);
  --light-color-darker: hsla(var(--cigaret), 0%, 68%, 100%);
  --light-color-lighter: hsla(var(--cigaret), 0%, 98%, 100%);

  --cigaret-color-normal: hsla(var(--cigaret), 100%, 50%, 100%);
  --cigaret-color-lighter: hsla(var(--cigaret), 100%, 83%, 100%);
  --cigaret-color-darker: hsla(var(--cigaret), 100%, 17%, 100%);

  --mobius-color-normal: hsla(var(--mobius), 100%, 50%, 100%);
  --mobius-color-lighter: hsla(var(--mobius), 100%, 83%, 100%);
  --mobius-color-darker: hsla(var(--mobius), 100%, 17%, 100%);

  --transition-normal: all 0.624s cubic-bezier(0.165, 0.84, 0.44, 1);
  --radius-normal: 0.25rem;
}

/* 默认使用 light mode */
html,
html[data-theme="light"] {
  --bg-color-normal: var(--light-color-normal);
  --bg-color-lighter: var(--light-color-lighter);
  --bg-color-darker: var(--light-color-darker);
  --text-color-normal: var(--dark-color-normal);
  --text-color-hover: var(--cigaret-color-darker);
}

html[data-theme="dark"] {
  --bg-color-normal: var(--dark-color-normal);
  --bg-color-lighter: var(--dark-color-lighter);
  --bg-color-darker: var(--dark-color-darker);
  --text-color-normal: var(--light-color-normal);
  --text-color-hover: var(--cigaret-color-lighter);

  & img:not([src*=".svg"]) {
    filter: brightness(.8) contrast(1.2) invert(100%) hue-rotate(180deg);
    mix-blend-mode: screen;
  }
}

/* purgecss start ignore */
html[data-theme="high-contrast"] {
  --bg-color-normal: black;
  --bg-color-lighter: black;
  --bg-color-darker: black;
  --text-color-normal: white;
  --text-color-hover: white;

  & img:not([src*=".svg"]) {
    filter: brightness(.8) contrast(1.2) invert(100%) hue-rotate(180deg);
    mix-blend-mode: screen;
  }
}
html[data-theme="custom"] {
  --custom-seed: 728;
  --vice-seed: calc(var(--custom-seed) + 180);

  --bg-color-normal: hsl(var(--custom-seed), 25%, 20%);
  --bg-color-lighter: hsl(var(--custom-seed), 50%, 20%);
  --bg-color-darker: hsl(var(--custom-seed), 0%, 20%);

  --text-color-normal: hsl(var(--custom-seed), 75%, 80%);
  --text-color-hover: hsl(var(--vice-seed), 25%, 80%);

  & img:not([src*=".svg"]) {
    filter: brightness(.8) contrast(1.2) invert(100%) hue-rotate(180deg);
    mix-blend-mode: screen;
  }
}
/* purgecss end ignore */


/*
 * 以下是 CSS -> JavaScript 传参设置
 * ！！！仅支持 Web 端
 */


:root {
  --mode: "unknown";
}

@media (prefers-color-scheme: dark) {
  :root {
    --mode: "dark"
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --mode: "light"
  }
}

@media (any-hover: none) {
  body::before {
    content: "hoverNone";
    display: none;
  }
}
