/* purgecss start ignore*/
/*********************************************************
 *              Mobius Text Utility
 *
 * - with css    houdini: none,
 * - with global control: none,
 * - use  global params : --dark-color-normal, --light-color-normal, --cigaret-color-normal, --mobius-color-normal,
 * - set  global params : none,
 * - use  theme  props  : %theme-light-vars, %theme-dark-vars,
 * - release     props  : none,
 *
 * - usage: none,
 *
 * - classes: .mobius-text-normal(hover, active), .mobius-text-primary(hover, active),
 *            .mobius-text-dark(hover, active), .mobius-text-light(hover, active), .mobius-text-cigaret(hover, active), .mobius-text-mobius(hover, active),
 *
 * - TODO: none,
 *
 * - 1. no comment,
 *
 * !important
 *
 *********************************************************/

.mobius-text-normal,
.hover_mobius-text-normal:hover,
.active_mobius-text-normal:active {
  color: var(--text-color-normal);
}

.mobius-text-primary,
.hover_mobius-text-primary:hover,
.active_mobius-text-primary:active {
  color: var(--text-color-primary);
}

.mobius-text-dark,
.hover_mobius-text-dark:hover,
.active_mobius-text-dark:active {
  color: var(--dark-color-normal);
}

.mobius-text-light,
.hover_mobius-text-light:hover,
.active_mobius-text-light:active {
  color: var(--light-color-normal);
}

.mobius-text-cigaret,
.hover_mobius-text-cigaret:hover,
.active_mobius-text-cigaret:active {
  color: var(--cigaret-color-normal);
}

.mobius-text-mobius,
.hover_mobius-text-mobius:hover,
.active_mobius-text-mobius:active {
  color: var(--mobius-color-normal);
}

/* purgecss end ignore*/
