<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mobius Redirector</title>
</head>

<body>
  <script type='module'>
    console.log(`[Mobius Redirector] current href: ${window.location.href}`)
    console.log(`[Mobius Redirector] window.location: `, window.location)
    const origin = window.location.origin
    let app = window.location.pathname.split('/').filter(x => !!x)[0] || ''
    app = app.indexOf('.') > -1 ? '' : app
    const searches = window.location.search.substr(1).split('&').reduce((acc, cur) => {
      if (!cur) return acc
      let [key, value] = cur.split('=')
      acc[key] = value
      return acc
    }, {})
    console.log(`[Mobius Redirector] current origin: ${origin}`)
    console.log(`[Mobius Redirector] current app: ${app}`)
    console.log(`[Mobius Redirector] current searches: ${JSON.stringify(searches)}`)
    const dest = `${[origin, app, ''].join('/')}?mobius_redirect=${searches['mobius_redirect'] || encodeURIComponent(window.location.href)}`
    console.info(`[Mobius Redirector] Redirect to: ${dest}`)
    window.location.replace(dest)
  </script>
</body>

</html>
